{% extends 'base.html' %}

{% block title %}Главная - Новостной сайт{% endblock %}

{% block content %}
    <h2>Список новостей</h2>
    <ul>
        {% for item in news %}
        <li>
            <h3><a href="{{ url_for('news_detail', id=item.id) }}">{{ item.title }}</a></h3>
            <p>{{ item.description }}</p>
            <img src="{{ url_for('static', filename=item.image) }}" alt="{{ item.title }}">
            <p>Дата публикации: {{ item.date }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}

